@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
.rcw-widget-container {
  font-family: 'Cairo', sans-serif !important;
  width: 420px !important;
  height: 720px !important;
  justify-content: flex-end;
  z-index:1
}
.rcw-conversation-container {
  text-align: right;
  height: 96%;
}
.rcw-message-text,
.rcw-new-message {
  direction: rtl;
}
.rcw-new-message {
  width: 90%;
}
.rcw-picker-btn{
  display: none;
}
.rcw-message-client {
  flex-direction: row;
}
.rcw-avatar {
  margin-right: 10px;
  align-self: end;
}
.rcw-messages-container {
  height: 100vh;
overflow:auto
}
/* Chat Header Background (Top Section) */
.rcw-conversation-container .rcw-header {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('./wave (1).svg');
  background-color: #5253B9;
  overflow: hidden !important;
}
.rcw-header span {
  font-size: 16px;
  font-weight: 500;
}
.rcw-message .rcw-response .rcw-message-text {
  background-color: #EFEFF1;
  color: #333333;
  text-align: right;
  border-radius: 20px 20px 20px 5px;
  padding: 8px 12px;
  font-size: 14px;
  max-width: 267px;
}
.rcw-message .rcw-client .rcw-message-text {
  background-color: #8384E5;
  color: #F8F8FA;
  text-align: right;
  border-radius: 20px 20px 5px 20px;
  padding: 8px 12px;
  font-size: 14px;
  max-width: 267px;
}
.rcw-launcher {
  background-color: #5556BB;
}
.custom-chat-launcher {
  z-index:30;
  position: fixed;
  bottom: 50px;
  right: 10px;
  background-color: #FFFFFF;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 10px;
  /* padding: 100%; */
  font-size: 16px;
  color: #333;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.custom-chat-launcher {
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and scale */
}
.custom-chat-launcher:hover {
  background-color: #F0F0F0;
  transform: scale(1.2);
};
/* Notification Dot */
.notification-dot {
  position: absolute;
  top: -5px;
  right: 37px;
  width: 12px;
  height: 12px;
  background-color: #007500;
  border-radius: 50%;
  border: 2px solid #9FD49F;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(-10px);
  }
}
.rcw-conversation-container::after {
  content: "Powered by Hams.AI | هَمس";
  display: block;
  text-align: center;
  padding: 2px;
  font-size: 12px;
  color: #666;
  border-top: 1px solid #E0E0E0;
}
.chat-header {
  position: absolute;
  top: 5px;
  left: 4px;
}
.chat-header .close-chat-button {
  background-color: transparent;
  color: #FFFFFF;
  border: none;
  cursor:pointer;
  width: 30px;
  font-weight: 600;
}
.rcw-widget-container .rcw-send img {
  display: none;
}
.rcw-widget-container .rcw-send {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  position: relative;
}
.rcw-widget-container .rcw-send::after {
  content: "";
  background-image: url("../src/sendIcon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color:#ffff;
  padding:3px;
  border-radius:50%;
  background-size: 20px 20px;
  position: absolute;
  top: -29px;
  width: 24px;
  height: 24px;
}
/* .loader {
display: flex;
align-items: center;
justify-content: flex-start;
margin-top: 10px;
}
.loader-message {
display: flex;
align-items: center;
margin-top: 10px;
padding-left: 20px;
} */
.rcw-message.rcw-client {
  justify-content: flex-start;
  flex-direction: row;
}
/* User message text styling */
.rcw-message.rcw-client .rcw-message-text {
  background-color: #8384E5;
  color: #FFFFFF;
  text-align: left;
  border-radius: 20px 20px 5px 20px;
  max-width: 80%;
  margin-left: 0;
  margin-right: auto;
}
.rcw-message.rcw-client .rcw-avatar {
  order: 1;
  margin-left: 10px;
}
.rcw-client .rcw-timestamp {
  align-self: flex-start;
  margin-left: 10px;
}
.rcw-conversation-container .rcw-header {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
}
.rcw-sender {
  background-color: #ffff;
  overflow: hidden !important;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1); /* Shadow at the top */
}
.row-new-message .row-input{
  overflow: hidden !important;
  height:500px
}
@media screen and (max-width: 800px) {
  .rcw-widget-container {
    width: 95% !important;
    height: 100vh !important;
  }
  .rcw-conversation-container .rcw-close-button {
    background-color: #5556BB;
    display: none;
  }
}
@media screen and (max-width: 440px) {
   .rcw-widget-container {
    width: 100% !important;
    height: 100% !important;
    height: 100vh !important;
    border-radius: 0 !important;
  }
  .rcw-conversation-container {
    max-width: 100vw;
    height: calc(100vh - 20px);
  }
  .custom-chat-launcher {
    bottom: 20px;
    right: 10px;
  }
}